%pre
# ROOT DEVICE SEARCH
ROOT_DEVICE_SIZE='31'
DEVICES=($(find /sys/block | xargs --replace='{}' basename '{}' | grep --regexp='sd' --regexp='nvme' --regexp='vd'))
NON_REMOVABLE_DEVICES=()

for DEVICE in ${DEVICES[@]}; do
  if [[ "$(</sys/block/${DEVICE}/removable)" == '0' ]]; then
    NON_REMOVABLE_DEVICES+=("${DEVICE}")
  fi
done

for DEVICE in ${NON_REMOVABLE_DEVICES[@]}; do
  DEVICE_SIZE=$(($(blockdev --getsize64 /dev/${DEVICE})/1073741824))
  if (("${DEVICE_SIZE}"=="${ROOT_DEVICE_SIZE}")); then
    ROOT_DEVICE="/dev/${DEVICE}"
    break
  fi
done

[[ -z "${ROOT_DEVICE}" ]] && exit 1
# # #

> /tmp/kickstart-rootdevice

echo "clearpart --none --initlabel" >> /tmp/kickstart-rootdevice
[[ -d /sys/firmware/efi ]] && echo "part /boot/efi --fstype="efi" --ondisk='${ROOT_DEVICE}' --size=600 --fsoptions="umask=0077,shortname=winnt"" >> /tmp/kickstart-rootdevice
[[ ! -d /sys/firmware/efi ]] && echo "part biosboot --fstype="biosboot" --ondisk='${ROOT_DEVICE}' --size=1" >> /tmp/kickstart-rootdevice
echo "part /boot --fstype="xfs" --ondisk='${ROOT_DEVICE}' --size=1024" >> /tmp/kickstart-rootdevice
echo "part swap --fstype="swap" --ondisk='${ROOT_DEVICE}' --size=4096" >> /tmp/kickstart-rootdevice
echo "part / --fstype="xfs" --ondisk='${ROOT_DEVICE}' --size=20480" >> /tmp/kickstart-rootdevice
%end

%include /tmp/kickstart-rootdevice

eula --agreed
text

%addon com_redhat_kdump --disable
%end

keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network --bootproto=dhcp --device=link --ipv6=auto --activate --hostname=template

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

%packages
@^minimal-environment
cloud-init
cloud-utils-growpart
%end

firstboot --disable

skipx

timezone Asia/Almaty --utc

rootpw --plaintext --allow-ssh '1q2w#E$R1q2w#E$R'

%post
dnf update -y
%end

shutdown
